* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background: #ccc;
  }
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
    padding: 20px; /*added*/
    background-color: white; /*added*/
    border-top: 1mm solid #ff0000; /*added*/
    border-bottom: 1mm solid #ff0000; /*added*/
    overflow: hidden; /*added*/
  }
  

  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;

    background-image: url('logo1.png'); /*added*/
    background-size: contain; /*added*/
    background-repeat: no-repeat; /*added*/
    background-position: center; /*added*/

    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5)); /*added*/
  }
  
  /* Your CSS below here */
  article::before{
    top:0;
    background-image: url('top-image.png');
  }
  
  article::after{
    bottom:0;
    background-image: url('bottom-image.png')
  }
  
  article::before, article::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }

  article{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), 
              linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), 
              white;
    background-repeat: no-repeat;
    background-position: top, bottom, center;
    background-size: 100% 200px, 100% 200px, cover;
    padding-top: 120px;
    padding-bottom: 120px;
  }